<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/jpetstore.css" type="text/css"/>
</head>
<body>
<header th:fragment="header">
    <div id="Header">

        <div id="Logo">
            <div id="LogoContent">
                <a href="/catalog/viewMain"><img src="../images/logo-topbar.gif"/></a>
            </div>
        </div>

        <div id="Menu">
            <div id="MenuContent">
                <!--购物车-->
                <!--                    <a <img align="middle" name="img_cart" src="../images/cart.gif" /></a>-->
                <a th:href="@{/cart/viewCart(username=${session.account.username})}"
                   th:if="${session.account} ne null">
                    <img align="middle" name="img_cart" src="../images/cart.gif" />
                </a>
                <a href="/account/viewLogin" th:if="${session.account} eq null">
                    <img align="middle" name="img_cart" src="../images/cart.gif" />
                </a>


                <img align="middle" src="../images/separator.gif" />
                <a href="/account/viewLogin" th:if="${session.account} eq null">Sign in</a>
                <a href="/account/signOut" th:if="${session.account} ne null">Sign out</a>

                <!--分隔符-->

                <img align="middle" src="../images/separator.gif" />
                <a href="/account/viewAccount" th:if="${session.account} ne null">My Account</a>
                <img align="middle" src="../images/separator.gif" th:if="${session.account} ne null" />
                <a th:href="@{/cart/viewOrder(username=${session.account.username})}"
                   th:if="${session.account} ne null">My Order</a>
                <img align="middle" src="../images/separator.gif" th:if="${session.account} ne null" />
                <!--暂未提供-->
                <a href="/catalog/viewHelp">?</a>
            </div>
        </div>

        <div id="Search">
            <div id="SearchContent">
                <!--搜索栏目,这里搜索框作为一个post方法,postMapping届时要匹配的是searchProduct,这里采用的是绝对路径-->
                <form action="/catalog/searchProduct" method="post">
                    <label>
                        <input type="text" name="keyword" size="14"/>
                    </label>
                    <input type="submit" name="searchProducts" value="Search"/>
                </form>
            </div>
        </div>
        <div id="QuickLinks">
            <a href="viewCategory?categoryId=FISH"><img src="../images/sm_fish.gif"/></a>
            <img src="../images/separator.gif"/>
            <a href="viewCategory?categoryId=DOGS"><img src="../images/sm_dogs.gif"/></a>
            <img src="../images/separator.gif"/>
            <a href="viewCategory?categoryId=REPTILES"><img src="../images/sm_reptiles.gif"/></a>
            <img src="../images/separator.gif"/>
            <a href="viewCategory?categoryId=CATS"><img src="../images/sm_cats.gif"/></a>
            <img src="../images/separator.gif"/>
            <a href="viewCategory?categoryId=BIRDS"><img src="../images/sm_birds.gif"/></a>
        </div>
    </div>
</header>
</body>
</html>