<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/jpetstore.css" type="text/css"/>
</head>
<body>
<!--采用相对路径,将top文件夹中取代header的部分移过来-->
<div th:replace="common/top"></div>
<!--不要把contest为id的这个div给忽略了啊大哥-->
<div id="Content">
    <!--使用thymeleaf写带链接的结点,参照:
    th:text="${product.productId}" th:href="@{/catalog/viewProduct(productId=${product.productId})}"
    -->
    <div id="BackLink">
        <a th:href="@{/catalog/viewProduct(productId=${product.productId})}" th:text="'Return to '+${product.name}"></a>
    </div>

    <div id="Catalog">

        <table>

            <!--商品简介,包括样品图-->
            <tr>
                <td th:utext="${product.description}">description</td>
            </tr>

            <!--商品的itemId-->
            <tr>
                <td th:text="${item.itemId}"><b>ItemId</b></td>
            </tr>

            <!--商品的属性(描述)-->
            <tr>
                <td><span style="font-size: small; "><b th:text="${item.attribute1}">
                </b></span></td>
            </tr>

            <!--此商品的产品名-->
            <tr>
                <td th:text="${product.name}">name</td>
            </tr>

            <!--判断是否还有库存,若是库存小于等于0,则返回back ordered(缺货), 否则返回quantity in stock(库存数量)-->
            <tr>
                <td>
                    <span th:if="${item.quantity} le 0">Back ordered</span>
                    <span th:if="${item.quantity} gt 0" th:text="${item.quantity+' in stock.'}"></span>
                </td>
            </tr>

            <!--商品的单价-->
            <tr>
                <td th:text="${item.listPrice}">listPrice</td>
            </tr>

            <!--加入购物车按钮,首先判断用户是否已经登录,若是已登录则跳往购物车界面,否则跳往登录界面-->
            <tr>
                <td>
                    <a class="Button"
                       th:href="@{/cart/addItemToCart(itemId=${item.itemId},username=${session.account.username})}"
                       th:if="${session.account} ne null">Add to Cart</a>
                    <a class="Button" th:href="@{/account/viewLogin}" th:if="${session.account} eq null">Add to Cart</a>
                </td>
            </tr>

        </table>

    </div>
</div>
<div th:replace="common/bottom"></div>

</body>
</html>